.zf-ui-toast-container {
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    padding: 20px 30px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    text-align: center;
    font-size: 28px;

    &-info-show,
    &-loading-show {
        animation: zf-ui-toast-show 0.3s ease forwards;
    }

    &-info-hide,
    &-loading-hide {
        animation: zf-ui-toast-hide 0.3s ease forwards;
    }

    &-loading-show,
    &-loading-hide {
        padding: 0;
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .zf-ui-icon-loading {
        animation: zf-ui-loading-roll 1.5s linear infinite;
        transform-origin: center center;
        width: 55px;
        height: 55px;
        margin-bottom: 15px;
        display: block;
        background: url('https://imgs-hzz.oss-cn-beijing.aliyuncs.com/n_v29513d197939445768b2fc11965c7dcb1.png') no-repeat left top;
        background-size: cover;
    }
}

.zf-ui-toast-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    z-index: 998;
}

@keyframes zf-ui-loading-roll {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes zf-ui-toast-show {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes zf-ui-toast-hide {
    from {
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        transform: translate(-50%, -50%) scale(0);
    }
}
  